[Unit]
Description=Runs Newsboat RSS Fetcher every 30 minutes

[Timer]
OnBootSec=5m
OnUnitActiveSec=30m
Persistent=true

[Install]
WantedBy=timers.target
