# Ignore everything inside this directory
/qutebrowser/.local/share/qutebrowser/**

# But track these
!/qutebrowser/.local/share/userscripts/
!/qutebrowser/.local/share/userscripts/**

# And ignore the qsettings/QtProject.conf
/qutebrowser/.config/qutebrowser/qsettings/QtProject.conf

# Ignore the btop.log thing
/btop/.config/btop/btop.log

# Ignore the .zcompdump
/zsh/.config/zsh/.zcompdump

# Ignore every target.wants symlink in the systemd user directory
/systemd/.config/systemd/user/**
/systemd/.config/systemd/user/*.wants
!/systemd/.config/systemd/user/cliphist.service
!/systemd/.config/systemd/user/news_notify.service
!/systemd/.config/systemd/user/news_notify.timer
!/systemd/.config/systemd/user/playerctld.service
!/systemd/.config/systemd/user/swayidle.service
!/systemd/.config/systemd/user/swaypolkitagent.service
!/systemd/.config/systemd/user/thunard.service

# Ignore everything inside the Gruvbox directory
/icons/.local/share/icons/Gruvbox-Plus-Dark/**
