[submodule "yazi/.config/yazi/plugins/yatline-gruvbox-material.yazi"]
	path = yazi/.config/yazi/plugins/yatline-gruvbox-material.yazi
	url = https://github.com/imsi32/yatline-gruvbox-material.yazi.git
