# Ignore everything inside the VSCodium directory
/VSCodium/.config/VSCodium/**
# # Except the user settings
!/VSCodium/.config/VSCodium/User/
!/VSCodium/.config/VSCodium/User/settings.json

# Ignore everything inside this directory
/qutebrowser/.local/share/qutebrowser/**

# But track these
!/qutebrowser/.local/share/qutebrowser/userscripts/
!/qutebrowser/.local/share/qutebrowser/userscripts/**

# And ignore the qsettings/QtProject.conf
/qutebrowser/.config/qutebrowser/qsettings/QtProject.conf

# Ignore the btop.log thing
/btop/.config/btop/btop.log

# Ignore the .zcompdump
/zsh/.config/zsh/.zcompdump
/zsh/.config/zsh/.history

# Ignore every target.wants symlink in the systemd user directory
/systemd/.config/systemd/user/**
/systemd/.config/systemd/user/*.wants
!/systemd/.config/systemd/user/cliphist.service
!/systemd/.config/systemd/user/news_notify.service
!/systemd/.config/systemd/user/news_notify.timer
!/systemd/.config/systemd/user/playerctld.service
!/systemd/.config/systemd/user/swayidle.service
!/systemd/.config/systemd/user/swaypolkitagent.service
!/systemd/.config/systemd/user/thunard.service
!/systemd/.config/systemd/user/wlsunset.service

# Ignore everything in cava 
/cava/.config/cava/**
# except the config
!/cava/.config/cava/config

# Ignore everythin inside sway systemd
/sway/.config/systemd/user/**
# Except the services and timers inside there
!/sway/.config/systemd/user/swayidle.service
!/sway/.config/systemd/user/swaypolkitagent.service
!/sway/.config/systemd/user/wlsunset.service

# Also ignore everything inside the sway local directory
/sway/.local/**
# Except the bin directory
!/sway/.local/bin/
!/sway/.local/bin/**

# Ignore the lazy-lock.json in NeoVim 
# For better upgrade and stuff
/nvim/.config/nvim/lazy-lock.json
